body {
background: #F3F3F3
}

div.white {
background:#fff;
padding:10px;
box-shadow: 1px 1px 1px 1px #888888;
}

div.white a:hover, div.white :hover {
  box-shadow: 0px;
}

div.leftCol {
  background:#FFF;
  width:300px;
  padding:20px;
  margin:0px;
  border-right:2px solid #EFEFEF;
}

button.btn-padded, a.btn-padded {
  padding:17px 45px 17px 45px;
  margin:5px;
}

span.glyphicon {
    font-size: 3em;
}

.nomargin {
  margin:0;
}
